$color_1: #fff;
$background_color_1: #343a40;

a {
	display: block;
}
.material-icons {
	font-size: 18px;
}
span {
	line-height: 1;
	vertical-align: text-top;
}
img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.container-fluid {
	padding: 0;
	height: 100%;
	color: $color_1;
	background-color: $background_color_1;
}
.jumbotron {
	position: relative;
	height: auto;
	background: none;
	text-align: center;
	width: 50%;
	margin: auto;
	min-width: 300px;
}
